.main-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/images/escolateste.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 400px;
  padding: 2rem;
  background-color: #CD853F;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.titulo {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto 1rem auto;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.login-container h2 {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  color: #fff;
}

.input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.input-group label {
  color: #fff;
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-btn-professor {
  background-color: #28a745;
  margin-top: 0.5rem;
}

.login-btn-professor:hover {
  background-color: #1e7e34;
}
