:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.header {
  background-color: #CD853F;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo img {
  height: 50px;
}

.aluno-info {
  margin-left: 15px;
  font-weight: bold;
}


.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}


.main {
  padding: 40px 20px 80px; 
  flex: 1;
  overflow-y: auto;
}


.welcome {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  color: grey;
  padding: 60px 20px;
  border-radius: 8px;
  text-align: center;
}

.welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.avisos {
  margin-top: 40px;
}

.avisos h2 {
  color: black;
  text-align: center;
}

.aviso-item {
  background-color: #fff;
  border: 2px solid #CD853F;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: transform 0.2s ease-in-out;
}

.aviso-item:hover {
  transform: translateY(-5px);
}

.matricula {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  color: #333;
}

.matricula h2 {
  text-align: center;
}

.matricula-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.matricula-table th,
.matricula-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.matricula-table th {
  background-color: #CD853F;
  color: white;
  font-weight: bold;
}

.matricula-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
