<div class="main-container">
  <div class="login-container">
    <h1 class="titulo">Escola Digital</h1>
    <h2>Login</h2>

    <div class="input-group">
      <label for="matricula">Matrícula</label>
      <input type="text" id="matricula" placeholder="Digite sua Matrícula" />
    </div>
    <div class="input-group">
      <label for="password">Senha</label>
      <input type="password" id="password" placeholder="Digite sua senha" />
    </div>
    <button class="login-btn" (click)="login()">Entrar</button>
  </div>
</div>